@tailwind preflight;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Copse|Roboto');

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica,  serif;
  @apply .text-black .leading-normal;
}

h1, h2, h3 {
  font-family: 'Copse', Times New Roman, serif;
  font-weight: 200;
}

.layout-grid {
  display: grid;
  grid-template-rows: minmax(70px,auto) minmax(calc(100vh - 170px), auto) minmax(100px, auto);
  min-height: 100vh;
}

.button {
  cursor: pointer;
  transition: all 0.2 ease;
  @apply .px-8 .py-4 .rounded .bg-white .mt-4 .no-underline .inline-block .shadow;
}

.scroll-top-button {
  position: fixed;
  bottom: 45px;
  right: 40px;
}

.button-small {
  cursor: pointer;
  transition: all 0.2 ease;
  @apply .px-4 .py-2 .rounded .bg-white .mt-4 .no-underline .inline-block .shadow;
}

.button-small:hover,
.button-small:focus {
  @apply .text-orange;
}

.button-small.active {
  @apply .bg-blue .text-white;
}

.section-heading {
  position: relative;
  margin-bottom: 4rem;
}
.section-heading:before {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 0;
  border-radius: 3px;
  width: 55px;
  height: 5px;
  display: block;
  @apply .bg-blue-dark;

}

.bg-gradient {
  background: linear-gradient(45deg, #1f2421 0%, #216869 35%, #9cc5a1 100%)
}

.blog-article + .blog-article {
  @apply .border-t .border-grey-dark .border-solid .pt-16;
}

.transition {
  transition: all 0.2s ease;
}

[aria-hidden="true"] {
  display: none;
}

@tailwind utilities;