@tailwind preflight;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Red+Hat+Text');

:root {
  /* light theme */
  --background-1--light: #fff;
  --text-1--light: #22292f;
  --background-2--light: #f1f5f8;
  --text-1--light: #22292f;
  --link-1--light: #4F8ED6;
  --link-1-hover--light: #f6993f;
  --link-2--light: #4F8ED6;
  --link-2-hover--light: #f6993f;


  /* dark theme */
  --background-1--dark: #242424;
  --text-1--dark: #D5D5D5;
  --link-1--dark: #f6993f;
  --link-1-hover--dark: #4F8ED6;

  --background-2--dark: rgb(95, 95, 95);
  --text-2--dark: #fafafa;
  --link-2--dark: #fafafa;
  --link-2-hover--dark: #f6993f;

   /* applying the vars */
   --bg-1: var(--background-1--light);
   --text-1: var(--text-1--light);
   --link-1: var(--link-1--light);
   --link-1-hover: var(--link-1-hover--light);

   --bg-2: var(--background-2--light);
   --text-2: var(--text-1--light);
   --link-2: var(--link-2--light);
   --link-2-hover: var(--link-2-hover--light);

   --highlight: var(--link-1--light);
   --signature: var(--text-1--light);
}


html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Red Hat Text', 'Helvetica Neue', Helvetica,  serif;
  @apply .leading-normal;
  color: var(--text-1);
}

.light-theme {
  /* match initial setting */
  --bg-1: var(--background-1--light);
  --text-1: var(--text-1--light);
  --link-1: var(--link-1--light);
  --link-1-hover: var(--link-1-hover--light);

  --bg-2: var(--background-2--light);
  --text-2: var(--text-1--light);
  --link-2: var(--link-2--light);
  --link-2-hover: var(--link-2-hover--light);

  --highlight: var(--link-1--light);
  --signature: var(--text-1--light);
}

.dark-theme {
  --bg-1: var(--background-1--dark);
  --link-1: var(--link-1--dark);
  --link-1-hover: var(--link-1-hover--dark);
  --text-1: var(--text-1--dark);

  --bg-2: var(--background-2--dark);
  --link-2: var(--link-2--dark);
  --link-2-hover: var(--link-2-hover--dark);
  --text-2: var(--text-2--dark);

  --highlight: var(--link-1--dark);
  --signature: #fff;
}

/* @media (prefers-color-scheme: dark) {

  --bg-1: var(--background-1--dark);
  --link-1: var(--link-1--dark);
  --link-1-hover: var(--link-1-hover--dark);
  --text-1: var(--text-1--dark);

  --bg-2: var(--background-2--dark);
  --link-2: var(--link-2--dark);
  --link-2-hover: var(--link-2-hover--dark);
  --text-2: var(--text-2--dark);

  --highlight: var(--link-1--dark);
  --signature: #fff;

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
} */

.rss-icon path,
.signature path {
  fill: var(--signature);
}

a,
.header-nav a {
  color: var(--link-1);
}

.share-links a svg path,
footer a svg path {
  fill: var(--text-1);
}

.bg-1 {
  background: var(--bg-1);
  color: var(--text-1);
}

.bg-1 a {
  color: var(--link-1);
}
.bg-1 a:hover {
  color: var(--link-1-hover);
}

.bg-2 {
  background: var(--bg-2);
  color: var(--text-2);
}

/* .bg-2 a {
  color: var(--link-2);
}
.bg-2 a:hover {
  color: var(--link-2-hover);
} */

/* a:hover,
footer a:hover,
.header-nav a:hover {
  color: var(--link-hover-color);
} */

h1, h2, h3 {
  font-family: 'DM Serif Text', Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.layout-grid {
  display: grid;
  grid-template-rows: minmax(70px,auto) minmax(calc(100vh - 170px), auto) minmax(100px, auto);
  min-height: 100vh;
}

/* .sticky-header {
  width: 100vw;
  @apply .sticky;
  top: 0;
  z-index: 10;
}
.sticky-header::after {
  content: '';
  @apply .bg-white;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  display: block;
  z-index: -1;
} */

.sr-only {
  position: absolute;
  left: -400vw;
  top: -100vh;
}

.button {
  cursor: pointer;
  transition: all 0.2 ease;
  @apply .px-8 .py-4 .rounded .bg-white .mt-4 .no-underline .inline-block .shadow .text-blue;
}

.button:hover,
.button:focus {
  @apply .text-orange;
}

.bg-jp-indigo a {
  @apply .text-white;
}

.scroll-top-button {
  position: fixed;
  bottom: 45px;
  right: 40px;
}

.button-small {
  cursor: pointer;
  transition: all 0.2 ease;
  @apply .px-4 .py-2 .rounded .bg-white .mt-4 .no-underline .inline-block .shadow;
}

.button-small:hover,
.button-small:focus {
  @apply .text-orange;
}

/* .button-small.active {
  @apply .bg-blue .text-white;
} */

.section-heading {
  position: relative;
  margin-bottom: 4rem;
  @apply .leading-none;
}
.section-heading:before {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 75px;
  height: 5px;
  display: block;
  @apply .rounded;
  background: var(--highlight);
}

.text-center.section-heading:before {
  left: 50%;
  transform: translateX(-50%);
}

.section-heading--inverted:before {
  content: '';
  @apply .rounded;
  background: var(--highlight);
}

.bg-gradient {
  background: linear-gradient(45deg, #1f2421 0%, #216869 35%, #9cc5a1 100%)
}

.blog-article + .blog-article {
  @apply .border-t .border-grey-dark .border-solid .pt-16 .mt-16;
}

.transition {
  transition: all 0.2s ease;
}

[aria-hidden="true"] {
  display: none;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body p,
.article-body ul,
.article-body img,
.article-body picture,
.article-body figure,
.article-body blockquote {
  @apply .mb-4 .leading-normal;
}

.article-body h2 {
  @apply .text-3xl;
}

.article-body h3 {
  @apply .uppercase .text-lg;
}

.article-body p + h2,
.article-body p + h3,
.article-body blockquote + h2,
.article-body blockquote + h3,
.article-body img + h2,
.article-body img + h3,
.article-body ul + h2,
.article-body ul + h3 {
  @apply .pt-4;
}

.article-body p,
.article-body ul,
.article-body a {
  @apply .text-base;
}

@media (min-width: 768px) {
  .article-body p,
  .article-body ul,
  .article-body a {
    @apply .text-lg;
  }
}

.article-body blockquote,
blockquote {
  @apply .m-4 .pl-8 .font-serif .relative;
}

.article-body blockquote:before,
blockquote:before {
  content: '';
  @apply .absolute .rounded;
  background: var(--highlight);
  width: 5px;;
  height: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

/* .article-body blockquote:after,
blockquote:after {
  content: '“';
  @apply .text-6xl .block .absolute;
  top: 0;
  left: 2rem;
  line-height: 1;

} */

.article-body blockquote p,
blockquote p {
  @apply .text-xl;
}

.article-body a {
  color: var(--link-1);
}

.article-body a:hover,
.article-body a:focus {
  color: var(--link-1-hover)
}

@media (min-width: 768px) {
  .article-body blockquote,
  blockquote {
    @apply .m-8 .px-8;
  }
  .article-body blockquote p,
  blockquote p {
    @apply .text-2xl;
  }
}

/* purgecss ignore */
.article-body .gatsby-resp-image-wrapper {
  @apply .my-8 .shadow-md;
}

.article-body .gatsby-resp-image-wrapper img {
  @apply .rounded;
}

code {
  @apply .px-2 .py-1 .text-sm .rounded;
  max-width: 100%;
  background: var(--bg-1);
}

pre {
  max-width: 100%;
  overflow: hidden;
  /* @apply .my-8 .p-8 .text-sm .bg-grey-lighter .rounded .block; */
}

/* purgecss ignore */
.gatsby-highlight {
  margin: 0;
  @apply .my-8 .block;
  max-width: 100%;
  max-width: 85vw;
}

@keyframes fadeIn {
  from  {
    opacity: 0;
  }

  to  {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.greyscale {
  filter: grayscale(100%);
}

.input-bg {
  background: var(--background-2--light);
}


@tailwind utilities;
