@tailwind preflight;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Copse|Roboto');

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica,  serif;
  @apply .text-black .leading-normal;
}

h1, h2, h3 {
  font-family: 'Copse', Times New Roman, serif;
  font-weight: 200;
}

.layout-grid {
  display: grid;
  grid-template-rows: minmax(70px,auto) minmax(calc(100vh - 170px), auto) minmax(100px, auto);
  min-height: 100vh;
}

.site-logo {
  /* padding: 1rem; */
}

footer a,
.header-nav a {
  @apply .text-blue;
}

.sticky-header {
  width: 100vw;
  @apply .sticky;
  top: 0;
  z-index: 10;
}
.sticky-header::after {
  content: '';
  @apply .bg-white;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  display: block;
  z-index: -1;
}


.button {
  cursor: pointer;
  transition: all 0.2 ease;
  @apply .px-8 .py-4 .rounded .bg-white .mt-4 .no-underline .inline-block .shadow .text-blue;
}

.button:hover,
.button:focus {
  @apply .text-orange;
}

.bg-blue a {
  @apply .text-white;
}

.scroll-top-button {
  position: fixed;
  bottom: 45px;
  right: 40px;
}

.button-small {
  cursor: pointer;
  transition: all 0.2 ease;
  @apply .px-4 .py-2 .rounded .bg-white .mt-4 .no-underline .inline-block .shadow;
}

.button-small:hover,
.button-small:focus {
  @apply .text-orange;
}

.button-small.active {
  @apply .bg-blue .text-white;
}

.section-heading {
  position: relative;
  margin-bottom: 4rem;
  @apply .leading-none;
}
.section-heading:before {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 0;
  width: 75px;
  height: 5px;
  display: block;
  @apply .bg-blue .rounded;
}

.section-heading--inverted:before {
  content: '';
  @apply .bg-white .rounded;
}

.bg-gradient {
  background: linear-gradient(45deg, #1f2421 0%, #216869 35%, #9cc5a1 100%)
}

.blog-article + .blog-article {
  @apply .border-t .border-grey-dark .border-solid .pt-16 .mt-16;
}

.transition {
  transition: all 0.2s ease;
}

[aria-hidden="true"] {
  display: none;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body p,
.article-body ul,
.article-body img,
.article-body picture,
.article-body figure,
.article-body blockquote {
  @apply .mb-4 .leading-normal;
}

.article-body h2 {
  @apply .text-3xl;
}

.article-body h3 {
  @apply .uppercase .text-lg;
}

.article-body p + h2,
.article-body p + h3,
.article-body blockquote + h2,
.article-body blockquote + h3,
.article-body img + h2,
.article-body img + h3,
.article-body ul + h2,
.article-body ul + h3 {
  @apply .pt-4;
}

.article-body p,
.article-body ul,
.article-body a {
  @apply .text-base;
}

@media (min-width: 768px) {
  .article-body p,
  .article-body ul,
  .article-body a {
    @apply .text-lg;
  }
}

.article-body blockquote,
blockquote {
  @apply .m-4 .pl-8 .font-serif .relative;
}

.article-body blockquote:before,
blockquote:before {
  content: '';
  @apply .bg-blue .absolute .rounded;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

/* .article-body blockquote:after,
blockquote:after {
  content: '“';
  @apply .text-6xl .block .absolute;
  top: 0;
  left: 2rem;
  line-height: 1;

} */

.article-body blockquote p,
blockquote p {
  @apply .text-xl;
}

.article-body a {
  @apply .text-blue;
}

.article-body a:hover,
.article-body a:focus {
  @apply .text-orange;
}

@media (min-width: 768px) {
  .article-body blockquote,
  blockquote {
    @apply .m-8 .px-8;
  }
  .article-body blockquote p,
  blockquote p {
    @apply .text-2xl;
  }
}

/* purgecss ignore */
.article-body .gatsby-resp-image-wrapper {
  @apply .my-8;
}

code {
  background: #fafafa;
  padding: 0 3px;
  font-size: 90%;
}

@tailwind utilities;